@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');

body{
	height: 100vh;
	display: flex;
	font-family: 'Teko', sans-serif;
	justify-content: center;
	align-items: center;
	background-image: url(image/aboutus.jpg);
	background-size: cover;

	color: white;
}
#aboutUs h2{
   margin-bottom: 25px;

}

.img-wrap{
	width: 100%;


}

.img-wrap img{
	width: 100%;
	padding:10px;
	border-radius: 50%;
	box-shadow: 0 0 10px #999999;


}